
@page {
  size: 21cm 29.7cm;
  size: a4 portrait;
  margin: 0;
  // padding-top: 2cm;
}

@mixin printModeMixin() {
    padding: 0;
    margin: 0;
    border: 0;

    .isFocusable {
      cursor: default;
    }
    div.resumeDocument {
      overflow: visible;
      .page-content {
        .meta.pane {
          min-width: 20%;
          max-width: 20%;
        }
        // .main.pane {}
    }
  }
  .page-break {
    page-break-after: always;
    // &::after {
    //   padding-top: 2cm;
    // }
  }
}

.app.isPrintMode {
  @include printModeMixin();
}

@media print {
  .app {
    @include printModeMixin();
  }
  .do-not-print,.app-controls {
    display: none;
  }
  .site {
    display: block;
  }
  .isPrintMode {
    width: 100vw;
    height: 100%;
  }

  html,body,#root,.app,.app-content {
    overflow: visible;
  }

  @page {
    size: 21cm 29.7cm;
    size: a4 portrait;
    margin: 0;
    // padding-top: 2cm;
  }
}
