
@mixin printModeMixin() {
    padding: 0;
    margin: 0;
    border: 0;

    .isFocusable {
      cursor: default;
    }
    div.resumeDocument {
      overflow: visible;
      .page-content {
        .meta.pane {
          min-width: 20%;
          max-width: 20%;
        }
        // .main.pane {}
    }
  }
  .page-break {
    page-break-after: always;
  }

  .app-content {
    font-size: $font-size;
    max-width: 21cm;
    min-height: 100%;
    overflow-x: hidden;
  }
}

.app.isPrintMode {
  @include printModeMixin();
}

@media print {
  .app {
    @include printModeMixin();
  }
  .app,.app.isPrintMode {
    display: inline;
  }
  .do-not-print,.app-controls {
    display: none;
  }
  .site {
    display: block;
  }
  .app div.resumeDocument .page-content {
    .main.pane,.work-history {
      padding-bottom: 0.65rem;
      margin-bottom: 0;
    }
  }
  
  // .isPrintMode {
  //   width: 100vw;
  //   height: 100%;
  // }

  @page {
    size: 21cm 29.7cm portrait;
    // size: A4 portrait;
    margin: 0;
  }
}
