
$contact-header-space: 1rem;
$contact-header-font-size: 0.8rem;

div.resumeDocument .page-header {
    position: relative;
    display: flex;
    flex-direction: column;
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    .avatar-header {
        .content {
            top: 0;
            left: 0;
            position: absolute;
            z-index: $z-index-content;

            border: solid calc($avatar-size/2) $color-content-border;
            border-radius: calc($avatar-size/2);
            min-width: 0;
            min-height: 0;
            max-width: 0;
            max-height: 0;
            margin: 1rem;
            img {
                width: $avatar-size;
                height: $avatar-size;
                border-radius: calc($avatar-size/2);
                transform: translate3d(-50%, -50%, 0);
            }
        }

        .bg-facade {
            display: block;
            transform: rotate3d(0, 0, 1, -35deg) scale3d(10, 10, 1) translate3d(0, -55%, 0);
            background-color: $color-facade-02;
            opacity: $layer-opacity;
        }
    }

    .contact-header {
        .content {
            // layout
            min-width: 28%;
            position: absolute;
            top: $contact-header-space;
            right: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: $contact-header-font-size;
            ul {
                z-index: $z-index-content;
                li {
                    display: grid;
                    grid-template-columns: 1.9rem max-content;
                    grid-template-rows: auto;
                    grid-template-areas: "label value";
                    line-height: calc($contact-header-font-size * 1.15);
                    a {
                        color: $color-content;
                        // font-family: 'Courier New', Courier, monospace;
                        &:visited {
                            color: $color-content;
                        }
                        &:hover {
                            text-decoration: underline;
                            // text-underline-offset: solid 0.1rem $color-content;
                            text-shadow: rgb(0, 180, 180, 0.7) 0 0 0.1rem;
                        }
                    }
                }
                label {
                    grid-area: "label";
                    align-self: start;
                    font-family: 'Courier New', Courier, monospace;
                    padding-top: 0.1rem;
                    padding-bottom: 0.1rem;
                }
                span.value {
                    grid-area: "value";
                }
            }

            // typesetting
            color: $color-content;
        }
        .bg-facade {
            // layout
            display: block;
            transform: rotate3d(0, 0, 1, calc(18deg)) scale3d(10, 10, 1) translate3d(0, -40%, 0);
            background-color: $color-facade-01;
            opacity: $layer-opacity;
        }
    }

    .person-name-header {
        position: absolute;
        top: $header-size;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        overflow: visible;
    }

}
