
div.resumeDocument .page-content {
    .meta.pane {
        background-color: $color-meta-pane;
        position: relative;
        min-width: 10%;
        opacity: 50%;
        top: $header-size;

        &::before {
            content: "";
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            background-color: $color-meta-pane;
        }
        &::after {
            content: "";
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            right: 0;
            transform: translateX(-100%);
            background-color: $color-meta-pane;
        }

        &.isFocused {
            min-width: 35%;
        }
    }
}
