
$z-index-facade: 5;
$z-index-content: 10;
$layer-opacity: 1;

@import "../styles/constants.scss";

@import "./resume-block-header.scss";
@import "./resume-education.scss";

@import "./resume-facades.scss";

@import "./resume-main.scss";
@import "./resume-meta.scss";

@import "./resume-page-header.scss";
@import "./resume-page-content.scss";

@import "./resume-work-history.scss";

div.resumeDocument {
    display: flex;
    flex-direction: column;
}

