
div.resumeDocument .education {

    .section {
        padding-left: 0.9rem;
        h4 {
            font-size: 1rem;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }

}
