
div.resumeDocument .page-content {
    .main {
        padding: 1rem;
        // background-color: red;
        width: 100%;

        ul {
            text-align: left;
        }
        li {
            padding-bottom: 0.5rem;
        }
    }
}
